<h2 id="howtorunatestsolvingsession">How to run a testsolving session</h2>

<ol>
<li><p>Go to your puzzle&#8217;s page. (Find it on the <strong>Yours</strong> page, linked in the top menu.) Next to the header <strong>Testsolve Sessions</strong>, click the button &#8220;Start a New Testsolve Session.&#8221;</p></li>
<li><p>This will create a new testsolve session. Edit the Session Notes with the date and time of your session. If you don&#8217;t know this yet, leave it blank.</p></li>
<li><p>Copy the URL of this page.</p></li>
<li><p>In the Discord channel #testsolving-announcements, post a the link, along the date and time. (Or poll for times.) Folks will sign up. We recommend having at least two solvers in your test and preferably more &#8211; we can&#8217;t duplicate Mystery Hunt conditions, but we can try our best.</p></li>
<li><p>If your puzzle can&#8217;t be tested in Google Drive, contact the Testsolve Coordinators (email tc@puzzup.lol) and they&#8217;ll help you figure something out.</p></li>
<li><p>Add the testsolve to <a href="https://calendar.google.com/calendar/u/0?cid=MDI5ODYyam90MmNkb2o5NTdkcWFmMjc1NG9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ">our team calendar</a>. You can also do this via Niles bot in Discord. Go to the #calendar channel to learn how.</p></li>
<li><p>Meet your solvers in the spreadsheet at the appointed time and send them off to solve!</p></li>
</ol>
