{% extends "base.html" %}
{% load markdown %}

{% block title %}{{ team|title }} support for {{ puzzle.name }} / {{ operation }}{% endblock %}

{% block main %}
<a href="{% url 'support_by_puzzle' support.puzzle.id %}">🔙 to support for  {{ support.puzzle }}</a>
<h1>Edit {{ team }} support request for {{ support.puzzle }}</h1>
	<form method="post">
	{% csrf_token %}
	{% for field in form %}
	<div class="columns">
		<div class="column is-one-third">
			<label class="label">{{ field.label }}</label>
			<div class="help">{{ field.help_text|safe|markdown }}</div>
		</div>
		<div class="column">
			<div class="control">
				{{ field }}
				{{ field.errors }}
			</div>
		</div>
	</div>
	{% endfor %}

	<div class="columns">
		<div class="column is-one-third">
		</div>
		<div class="column">
			<input class="button is-primary" type="submit" value="Submit">
		</div>
	</div>
	</form>
{% endblock %}
